#main { color: #FFF; background-color: #000; text-align: center }

a:link { color: #2B60DE; text-decoration: none }
a:visited { color: #4E387E; text-decoration: none }
a:hover { color:#407EFF; text-decoration: none }

.center { text-align: center }
